<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               ATTENTION
            </div>
            <div class="modal-body">
                <input type="hidden" id="deleteId" />
                Please Confirm
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok" id="confirmDelete">Delete</a>
            </div>
        </div>
    </div>
</div>